---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="300"
					height="1000"
					src="/assets/at-work.jpg"
					alt="Cisse en train de travailler sur un projet ."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						J'ai suivi une formation en informatique specialisé en développement d'application a l'université Gaston Berger de SAINT-LOUIS . Je suis a la derniere année de formation pour obtenir le diplome d'ingenieur. Je suis développeur fullStack. 
					</p>
					
					<p>
						J'utilise des technologies telles que Laravel(PHP),Spring-Boot(JAVA) et Angular pour le frontend.
						AU cours de ma formation j'ai appris des langages tels que : Le langage C,PHP,JAVA,C++...
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>MAster 1 et MAster 2 (en cours).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux,Creatif,dynamique, Autonome,Organisé , polyvalent, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
